h1, h2{

  font-size: 2.25rem;
  color: #ffffff;
  letter-spacing: 0.6rem;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

h2{
  font-size:1.15rem;
}

.v-application a,
.v-application a:link,
.v-application a:visited,
.v-application a:active,
.v-application a:focus{
  text-decoration: none;
  color: silver;
}

.v-application a:hover{
  color: grey;
  transition: color 0.3s ease;
}
