
@import './_typography.scss';


*{
  box-sizing: border-box;
}

.theme--light.v-application.v-application {
  color: #fff;
  margin: 0;
	background-color: #2e3141;
}

.v-application.v-application{
  font-family: Raleway, Helvetica, sans-serif;
}

$firstcolor : #4c5c96;
$secondcolor: #45558d;
$thirdcolor: #3f4e85;
